<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserEnrollmentAddress" value="https://app-qa-probation.azurewebsites.net/Authentication/Login" />
    <add key="Email" value="katrin.grigorova@kontocloud.info" />
    <add key="Password" value="&amp;U0nu5qOH0g1TfIj" />
    <add key="NewPassword" value="nu5qOH0g1TfIj" />
  </appSettings>
</configuration>